@import "./Components/Book/book.css";
@import "./Components/Shelf/shelf.css";
@import "./Components/Serach/search.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: rgb(220, 177, 47);
    color: white;
    font-size: 40px;
}