.book {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.caret {
    border-radius: 360px;
    width: 40px;
    height: 40px;
    background-color: brown;
    margin: 0 0 0 -20px;
    border: 0 solid white;
}

.book-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100px;
    font-size: x-small;
    padding: 7px;
}

.authors {
    font-size: xx-small;
    color: grey;
}